.section-about , .section-tours{
    background-color: $color-grey-light-1;
    padding: 30rem 0 35rem 0;
    margin: -25rem 0;
}

.section-features{
    padding: 20rem 0;
    margin-top: -11rem;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.345), rgba($color-primary-dark,.92) ), url(../img/nat-4.jpg);
    background-size: cover;
    
    transform: skewY(-7deg);
    
    &>* {
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 30rem 0 35rem 0;
    margin: -20rem 0;
    
    
}


